body {
    margin: 52px 0 52px 0;
    font-size: 1em;
    font-family: sans-serif;
}
/* list tags */
ul {
    list-style: none;
    padding-left: 20px;
}
/* summary info */
.preamble-summary {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: .25em .5em;
    color: white;
    background-color: #000;
}
.preamble-summary-hidden {
    display: none;
}
.preamble-summary-pending {
    background-color: #bdbdbd;
    display: block;
}
.preamble-summary-pass {
    background-color: green;
}
.preamble-summary-fail {
    background-color: #f00;
}
.preamble-summary span {
    color: #fff;
}
.preamble-summary-duration {
    float: right;
}
.preamble-summary-duration-hidden {
    visibility: hidden;
}

.preamble-summary-duration span {
    font-size: .75em;
}
/* suite */
.suite {
}
.suite-passed a {
    color: #000;
    text-decoration: none;
}
.suite-failed a {
    color: #f00;
    text-decoration: none;
}
.suite-hidden {
    display: none;
}
/* spec */
.spec {
}
.spec-passed a {
    color: #0f0;
    text-decoration: none;
}
.spec-failed a {
    color: #f00;
    text-decoration: none;
}
/* suite * spec */
.suite-excluded a,
.spec-excluded a {
    color: brown;
}
/* reason */
.reason, .reason-stacktrace, .reason-stacktrace-item{
    color: #f00;
}
/* user interface test container */
#preamble-ui-container {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 1000px;
    height: 1000px;
}
/* bottom page container */
footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
    border-top: solid 1px #bdbdbd;
    text-align: center;
    background-color: white;
    color: #bdbdbd;
}
/* all anchor tags */
a:hover {
    text-decoration: underline;
}
